<div class = "review_summary_right">
	<%= render "reviews/buttons/review_input", :restaurant_id => review.restaurant.id, :venue_field => encode_venue_google_id(review.restaurant.google_id), :search => review.keywords, :restaurant => review.restaurant %>
	
		<ul class = "flat_list">
		<li class = "flat_list_item"><div class = "stars empty">
	<div class = "stars filled_<%= review.rating %>">	
	</div>
</div></li>
		<li class = "flat_list_item">
			<% if @user == @current_user %>
			<%= render 'restaurants/buttons/share_detail_button', :restaurant => review.restaurant, :text => "Talk about it" %>
			<% else %>
			<%= render 'reviews/buttons/detail_button', :review => review %>			
			<% end %>
		</li>
		</ul>
		
		<ul>
		<li id = "review_count"><%= review.restaurant.reviews.count %> reviews</li>	</ul>
</div>