<div class = "review_summary_left">
		<img class= "review_summary_photo" id = "review_summary_photo_<%= review.id %>"></img>

		<div id = "review_count"><%= pluralize(review.restaurant.reviews.count, "user review")%></div>
	</div>
	<div class = "review_summary_center">
	<ul id = "review_data">
		<li><%= link_to review.restaurant.name, review.restaurant, :id => "restaurant_name" %></li>
		<li id = "address_line_01" class = "formatted_address"><%= parsed_address[0] %></li>
		<li id = "address_line_02" class = "formatted_address"><%= parsed_address[1] %></li>
		<li class = "google_price">
		<% if review.restaurant.google_price %>
		<%= "Price: " + review.restaurant.price_as_dollar %>
		<% else %>
		<%= "Price: "%><i><%= "No data" %></i>
		<% end %></li>
	</ul>
</div>