<div class = "review_summary_right">
	<%= render "reviews/buttons/review_input", :restaurant_id => review.restaurant.id, :venue_field => encode_venue_google_id(review.restaurant.google_id), :search => review.keywords, :restaurant => review.restaurant %>
		<% unless review.user == @current_user %>
		<ul class = "flat_list">
		<li class = "flat_list_item"><div class = "stars empty">
	<div class = "stars filled_<%= review.rating %>">	
	</div>
</div></li>
		<li class = "flat_list_item">
			<button id="detail_friend" onclick='detail(<%= review.user.fb_id.to_s %>, "<%= URI.encode(@current_user.first_name.to_s) %>","<%= URI.encode(review.restaurant.name.to_s) %>", <%= review.restaurant.id %>, <%= @current_user.gender_article.to_json %>)'>Ask</button>				
		</li>
		</ul>
		<% end %>
		<ul>
		<li id = "review_count"><%= review.restaurant.reviews.count %> reviews</li>	</ul>
</div>