<div class = "suggestion_user rounded-corner">
	<div class = "suggested_user_left">
	<%= image_tag reviewer.get_user_small_pic(@graph), :class => 'suggestion_pic' %>
	<div id="button_<%= reviewer.id %>", class="follow_button">
			<% if @current_user.following?(reviewer.id) %>
			<%= render 'relationships/buttons/unfollow_button', :followed_id => reviewer.id, :current_user_id => @current_user.id, :user_id => @current_user.id %>
			<% else %>
			<%= render 'relationships/buttons/follow_button', :followed_id => reviewer.id, :current_user_id => @current_user.id, :user_id => @current_user.id %>
			<% end %>
		</div>
	</div>
	<div class = "suggestion_text">
		<p>	<%= link_to reviewer.name, reviewer %></p>
		<p><%= text %></p></div>
		</div>