<div id = "info_holder">
<% if params[:welcome] %>
	<h3>Because you love food!</h3>
<% end %>
	<h1>Food reviews from the people you trust</h1>
	<h4><%= APP_NAME %> harnesses your network to find restaurants you'll like</h4>
	<h5>Click on the headers below for details</h5>
	
<div class = "info_header">
<h2>1. Follow the foodies you trust</h2></div>
<div class = "info_section">
	<p>Choose trusted foodies among your Facebook friends</p>
<%= link_to "+ friends", facebook_friends_user_path(:id => @current_user.id), :class => "add_friends_button", :target => "_parent" %>
<%= image_tag @current_user.fb_pic, :id => "my_profile_button", :size => "35x35" %>
<p>Pick whose food advice you trust - they're your trusted group!</p>
<% @five_friends.each do |photo| %>
<%= image_tag (photo), :size => '35x35', :class => "friend_fb_pic_small" %>
<% end %>
</div>

<div class = "info_header">
<h2>2. Search for a restaurant, cuisine or ambiance</h2></div>
<div class = "info_section">
<%= render 'restaurants/searchbox' %>
<p><b>Your trusted circle's reviews will pop up first.</b></p>
<p>If that's not enough, you get Google results automatically!</p>
<p>Go ahead, type something in the search box!</p>
</div>

<div class = "info_header">
<h2>3. Review places for your friends</h2></div>
<div class = "info_section">
	<p>Your friends need your advice on where to eat!</p>
	<p><b>You can write a full review or just 'star' a restaurant with a single click</b></p>
	<p>Click on the stars now!</p>
<%# render 'restaurants/recommended_restaurant_summary', :venue => Restaurant.first %>
<%= render 'reviews/buttons/review_input', :restaurant_id => -1, :venue_field => "", :search => "", :restaurant => nil %>
</div>

<div class = "info_header">
<h2>4. Share your experiences or ask for reviews</h2></div>
<div class = "info_section">
	<p>Need more details on a review? Advice on where to eat?</p>
	<p><b>Help is on the way!</b></p>
	<p>With <%= APP_NAME %>, you can post your requests straight to your Facebook feed</p>
 <a onclick='postToFeed("My favorite restaurant", "<%= @current_user.first_name %>"); return false;' href = "#" id="share_button", class = "social facebook_button">Request review</a>
 <h1>Food is all about sharing! So what's for dinner?</h1></div>
</div>