<%= @user.name %>
<%= link_to "Add friends", facebook_friends_user_path %>

<table><tr><td>
<%= link_to "Trusts", following_user_path(@user), :id => "follows_list_button", :remote => true%></td>
<td><%= link_to "Trusted by", followers_user_path(@user) , :id => "followed_list_button", :remote => true %></td></tr></table>
<div id = "relationship_list"><%= render 'follows' %></div>