<li id="user_summary">
<% if user.id.nil? %>
<%= user.name %>
<% else %>
<%= link_to user.name, user_path(user), :class => "user_name_link" %>
<% end %>

<div class = "summary_right">
	<%= image_tag user.fb_pic, :class => 'user_small_pic' %>
<% if user.id.nil? %>	
	<div id="button_<%= user.id %>", class="follow_button">
		<%= render 'relationships/buttons/invite_button', :fb_id => user.fb_id %>
	</div>
<% else %>
	
	<div id="button_<%= user.id %>", class="follow_button">
		<% if @user.following?(user.id) %>
			<%= render 'relationships/buttons/unfollow_button', :followed_id => user.id %>
		<% else %>
			<%= render 'relationships/buttons/follow_button', :followed_id => user.id %>
		<% end %>
		</div>
<% end %>
</div>
</li>