<div class = "summary_bottom">
		<% if user.id.nil? %>
<%= user.name %>
<% else %>
<%= link_to user.name, user_path(user), :class => "user_name_link", :id => user.id %>
<% end %>

	<% if user.reviews.any? %>
	<p><%= short_restaurant_list(user, 2) %></p>
	<% else %>
	<p><%= "#{user.first_name} has no reviews." %></p>
	<p><%= "Ask #{user.gender_article["object"]} where #{user.gender_article["subject"]}\'s been!" %></p>
	<% end %>

	<p class = "common_friends"><%= "You share "%><%= link_to pluralize(user.common_friends(@current_user), "trusted friends"), user %></p>

</div>