<div id = "searchbox_holder"></div>
<div id = "user_edit_wrapper">
<%= link_to 'How\'s it all work again?', info_path, :remote => true, :class => "fancybox" %>
<%= form_for(@current_user) do |f| %>
<%= render 'user_edit_fields', :f => f %>
<%= f.submit "update" %>
<% end %>
<%= link_to 'unsubscribe', @current_user, :method => :delete, :confirm => "Are you sure?"  %>
</div>