<%= render 'fb-scripts/facebook_friends_script' %>
	<div class = "facebook_friends_explanation rounded-corner">
		<div class = "user_info" id = "<%= @current_user.id %>">
	<h1>Welcome, <%= @current_user.first_name %>! Pick your foodie trusted circle</h1>
	<h2>The more friends you pick, the more <b>great places to eat</b> you'll find</h2>
	<h2>If your trusted friends aren't on <%= APP_NAME %> yet, send them an invite!</h2>
	<%= render 'session/info_button' %>
</div>
		
</div>



<div class = "new_friend_lists"></div>
<% cache('facebook_friends', :expires_in => 15.minutes) do %>
<div id = "facebook_friends">
	<div class = "friend_title">Facebook Friends</div>
	<% @facebook_friends_invite.each do |profile| %>
	<%= render 'users/new_user_profile_summary', :user => User.new(set_attr_from_fb(profile)) %>
	<% end %>
</div>
<%end %>



<div id = "facebook_friends_enrolled">
	
<div class = "friend_title">Friends on <%= APP_NAME %></div>

	<ul>
		<%= render :partial => 'users/new_user_profile_summary', :collection => @facebook_friends_enrolled, :as => :user %>
	</ul>
</div>
