<%= render 'reviews/review_map_script' %>
<%= render 'fb-scripts/review_detail_request_script' %>
<%= render 'restaurants/searchbox' %>

<div class = "user_bar" id="<%= @user.id %>">
<%= render 'users/user_info' %>
<%= render 'user_info_nav' %>
</div>
<% case params[:page_request] %>
		<% when 'trusted' %>
		<div class = "page_request", id = "trusted"></div>
		<% when 'trusts' %>
		<div class = "page_request", id = "trusting"></div>
		<% else %>
		<div class = "page_request", id = "reviews"></div>
		
		<% end %>
	
	<div id = "relationship_list">
	
	</div>
