<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kweekwegg: http://ogp.me/ns/fb/kweekwegg#">
  <meta property="fb:app_id" content="<%= Facebook::APP_ID %>" /> 
  <meta property="og:type"   content="kweekwegg:user" /> 
  <meta property="og:url"    content="Put your own URL to the object here" /> 
  <meta property="og:title"  content="<%= @user.first_name %>" /> 
  <meta property="og:image"  content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" /> 
<%= render 'reviews/review_map_script' %>
<%= render 'fb-scripts/review_detail_request_script' %>
<%= render 'restaurants/searchbox' %>

<div class = "user_bar" id="<%= @user.id %>">
<%= render 'users/user_info' %>
<%= render 'user_info_nav' %>
</div>
<% case params[:page_request] %>
		<% when 'trusted' %>
		<div class = "page_request", id = "trusted"></div>
		<% when 'trusts' %>
		<div class = "page_request", id = "trusts"></div>
		<% else %>
		<div class = "page_request", id = "reviews"></div>
		
		<% end %>
	
	<div id = "relationship_list">
	
	</div>
