<%= render 'reviews/review_map_script' %>
<%= render 'fb-scripts/review_detail_request_script' %>
<%= render 'restaurants/searchbox' %>

<div class = "user_bar" id="<%= @user.id %>">
<%= render 'users/user_info' %>
<%= render 'user_info_nav' %>
</div>
	
	<div id = "relationship_list"><%= render 'reviews/user_reviews' %></div>
