<% if review = Review.find_by_restaurant_id_and_user_id(restaurant_id, @current_user.id) %>
	<%= form_for review, :method => :put, :url => {:controller => :reviews, :action => :update, :id => review}, :remote => true do |f| %>
		<div class = "rate_restaurant" id = "0"><%= f.hidden_field :rating, :value => review.rating %></div>
	<% end %>
<% else %>
<%= form_for Review.new, :remote => true do |f| %>
	<%= f.hidden_field :restaurant_id, :value => restaurant_id %>
	<%= f.hidden_field :venue, :value => venue_field %>
	<%= f.hidden_field :keywords, :value => search unless (search && search.start_with?("Search the world,"))%>
	<div class = "rate_restaurant"><%= f.hidden_field :rating, :value => 0 %></div>
<% end %>
<% end %>