<div id = "restaurant_info_right">
	<%= render "reviews/buttons/review_input", :restaurant_id => @restaurant.id, :venue_field => @encoded_venue, :search => @search, :restaurant => @restaurant %>
<% if @restaurant.google_rating %>
<%= render 'reviews/buttons/google_stars', :google_rating => @restaurant.google_rating.to_i %>
<% end %>
 <a onclick='postToFeed("<%= @restaurant.name %>", "<%= @current_user.first_name %>"); return false;' href = "#" id="share_button">Ask friends</a>
 	<%= render 'restaurants/buttons/share_detail_button', :restaurant => @restaurant, :text => "Talk" %>
 <p id='msg'></p>
</div>