<% set_google_restaurant_values(result) %>
<li id="restaurant_summary">
<div id = "restaurant_summary_wrapper">
	<div id="restaurant_summary_left">
				<ul>
			<li id="venue_name">
				<% if @restaurant %>
					<%= link_to @restaurant.name, restaurant_path(@restaurant.id) %>
				<% else %>
				<%= link_to @venue[:name], :controller => 'restaurants', :action => 'new', :search => @encoded_search, :venue_data => @encoded_venue %>
				<% end %>
				
			</li>
		<li id = "address_line_01" class = "formatted_address"><%= @parsed_address[0]  %></li>
		<li id = "address_line_02" class = "formatted_address"><%= @parsed_address[1]  %></li>
		</ul>
	</div>
<%= render 'google_restaurant_summary_right' %>
</div>
</li>

