<% set_stored_restaurant_values(venue) %>
<li id="recommended_restaurant_summary">
	<div id = "restaurant_summary_wrapper">
<div id="restaurant_summary_left">
		<ul>
			<li id="venue_name">
				<%= link_to venue.name, restaurant_path(venue.id) %>
			</li>
			<li id = "address_line_01" class = "formatted_address"><%= @parsed_address[0]  %></li>
			<li id = "address_line_02" class = "formatted_address"><%= @parsed_address[1]  %></li>
		</ul>
	
</div>
<%= render 'restaurants/restaurant_info_right', :venue => venue %>
</div>
<%= render 'restaurants/restaurant_reviewer_list', :venue => venue, :limit => 4 %>
<p id='msg'></p>
</li>