<div id = "restaurant_info_right">
	<%= render "reviews/buttons/review_input", :restaurant_id => venue.id, :venue_field => nil, :search => @search, :restaurant => venue %>
		<% if venue %>
		<%= render 'reviews/buttons/restaurant_average', :venue => venue %>
		<% end %>
		<% if venue.google_rating %>
		<%= render 'reviews/buttons/google_stars', :google_rating => venue.google_rating.to_i %>
		<% end %>
		 <a onclick='postToFeed("<%= venue.name %>", "<%= @current_user.first_name %>"); return false;' href = "#" id="share_button">Request review</a>
</div>