<body onload = "initialize_map(<%= @lat %>, <%= @lng %>, '<%= @reference %>')">
<%= render 'restaurants/google_maps_script' %>
<%= render 'restaurants/review_request_script' %>
<%= render 'restaurants/searchbox' %>

<div id = "restaurant_info">
	<div id = "restaurant_info_left">
		<img id = "restaurant_photo"></img>
		<div id = "venue_name"></div>
		<div id = "formatted_address"></div>
		<%= render 'reviews/add_review' %>	
	<div id = "keywords"></div>
	<% if @restaurant %>
	<%= render 'restaurants/restaurant_reviewer_list', :venue => @restaurant, :limit => 4 %>
	<% end %>
	</div>
	<div id = "restaurant_info_right">
		<a id = "google_rating"></a>
		<% if @restaurant %>
			<p>KweeQweg rating: <%= average(@restaurant) %></p>
			<p><%= pluralize(@restaurant.reviews.count, "review") %></p>
		<% end %>	
		 <a href = "#" id="share_button">Request review</a>
	</div>
	 <p id='msg'></p>
</div>
	 <div class = "map" id="map"></div>

	 <% if @restaurant %>
	 <%= render 'reviews/review_list' %>
	 <% end %>
</body>


