<li class = "review_summary">
	<div class = "review_summary_left">
<%= image_tag review.user.get_user_small_pic(@graph), :class => 'user_small_pic' %>
</div>
<div class = "review_summary_center">
<%= link_to review.user.name, review.user, :class => "user_name_link", :id => review.user.id %>
<table>
	<tr>
		<td class = "review_count" ><%= pluralize(review.user.reviews.count, "review") %></td>
		<td class = "common_friends"><%= "You share "%><%= link_to pluralize(review.user.common_friends(@current_user), "trusted friends"), review.user %></td>
	</tr>
	<tr>
<td class = "follower_count"><%= pluralize(review.user.followers.count, "follower") %></td>
</tr>

	</table>


</div>

	
<div class = "review_summary_right">
	<ul class = "flat_list">
<li class = "flat_list_item">
	<div class = "stars empty">
		<div class = "stars filled_<%= review.rating %>">	
		</div>
	</div>
	</li>
	<% unless review.user == @current_user %>
<li class = "flat_list_item"><%= render 'reviews/buttons/detail_button', :review => review %></li>
<% end %>
</ul>
</div>
<%= render 'reviews/summary_partials/review_summary_text', :review => review %>

</li>