<%= render 'reviews/review_share_script' %>
<%= render 'review_edit_info' %>
<div class = "review_details_fields">
<%= form_for @review , :remote => true do |f|%>
<%= render 'reviews/review_fields', :f => f, :keywords => @review.keywords, :rating => @review.rating %>
<ul class = "flat_list">
<li class = "flat_list_item"><%= f.submit "Publish!", :id => "review_button" %></li>
<% end %>
<li class = "flat_list_item"><%= link_to "cancel", @restaurant %></li>
<li class = "flat_list_item"><%= link_to "Delete", @review, :method => :delete, :confirm => "Are you sure?" %></li>
<li class = "flat_list_item"><%= render 'reviews/share_button' %></li></ul>
</div>