<li class = "review_summary">
	<div class = "review_summary_left">
<%= image_tag review.user.fb_pic, :class => 'user_small_pic' %>
</div>
<div class = "review_summary_center">
<%= link_to review.user.name, review.user, :class => "user_name_link", :id => review.user.id %></div>
<div class = "review_summary_right">
	<ul class = "flat_list">
<li class = "flat_list_item">
	<div class = "stars empty">
		<div class = "stars filled_<%= review.rating %>">	
		</div>
	</div>
	</li>
<li class = "flat_list_item"><button id="detail_friend" onclick='detail(<%= review.user.fb_id.to_s %>, "<%= @current_user.first_name.to_s %>","<%= review.restaurant.name.to_s %>", <%= @current_user.gender_article.to_json %>)'>Tell me more</button></li>
</ul>
</div>
<% if review.text %>
<div class = "review_summary_text"><%=h word_wrap(review.text, :line_width => 90)%></div>
<% end %>
</li>