<p><%= f.label "Rating" %>
<%= f.select :rating, (0..5).step(0.5) %></p>
<p><%= f.label "Review" %>
<%= f.text_area :text %></p>
<p><%= f.label "Key Words" %>
<%= f.text_field :keywords, :value => keywords %></p>