<div id = "errors"><%= render 'shared/error_messages', :object => f.object %></div>
<ul class = "flat_list">
<li class = "flat_list_item"><%= f.label "Rating" %></li>
	<li class = "flat_list_item"><div class = "rate_restaurant" id = "0"><%= f.hidden_field :rating, :value => rating %></div></li></ul>
<p><%= f.label "What did you think?" %></p>
<p><%=  f.text_area :text, :escape => true %></p>
<p><%= f.label "Key Words" %>
<%= f.text_field :keywords, :value => keywords_to_string(keywords << " "+@search.to_s) %></p>
