<%= render 'fb-scripts/review_share_script' %>
<%= render 'review_edit_info' %>
<div class = "review_details_fields">
<%= form_for @review, :remote => true do |f|%>
<%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
<%= render 'reviews/review_fields', :f => f, :keywords => @search.to_s, :rating => 0 %>
<ul class = "flat_list">
<li class = "flat_list_item">
<%= f.submit "Publish!", :id => "review_button" %></li>
<% end %>
<li class = "flat_list_item"><%= link_to "cancel", restaurant_path(@restaurant, :search => params[:search_field]) %></li>
<li class = "flat_list_item"><%= render 'reviews/share_button' %></li></ul></div>