<li><%= review.restaurant.name %></li>
<li><%= review.restaurant.google_reference %></li>
<li><%= review.restaurant.formatted_address %></li>
<li><%= review.restaurant.reviews.count %> reviews</li>
	<li><%= review.rating %></li>
<li><%= review.text %></li>