<% @map_array << set_review_google_info(review) %>
<div class = "user_review">
	<div class = "review_summary_left">
		<img class= "review_summary_photo" id = "review_summary_photo_<%= review.id %>"></img>
		<button id="detail_friend" onclick="detail(<%= review.user.fb_id.to_s %>, '<%= @current_user.first_name.to_s %>','<%= review.restaurant.name.to_s %>', <%= @current_user.gender_article.to_json %>)">Ask for details</button>
	</div>
	<ul id = "review_data">
		<li><%= link_to review.restaurant.name, review.restaurant, :id => "restaurant_name" %></li>
		<li><%= review.restaurant.formatted_address %></li>
		<li><%= review.restaurant.reviews.count %> reviews</li>	
<li><%= render 'reviews/buttons/rate_restaurant', :restaurant_id => review.restaurant.id, :venue_field => encode_venue_google_id(review.restaurant.google_id), :search => review.keywords %></li>	
<% unless review.user == @current_user %>
<li>Rating: <%= review.rating %></li>
<% end %>
		
		<li><%= review.text %></li>
	</ul>
	<div class = "map_summary" id="map_<%= review.id %>"></div>
</div>