<p><%= @venue["name"] %></p>
<p>Google Rating: <%= @venue["google_rating"] %></p>

<%= form_for @review do |f|%>
<%= f.hidden_field :venue, :value => params[:venue_field] %>
<%= render 'reviews/review_fields', :f => f, :keywords => @search %>
<%= f.submit "Add your review" %>
<% end %>
<%= link_to "cancel", :back %>