<div class = "feedback_wrapper">
<h1>Thanks for the feedback,  <%= @current_user.first_name %></h1>
<ul class = "rounded-corner">
<%= form_tag send_feedback_path, :method => :post, :class => "feedback_form" do %>
<%= hidden_field_tag :sender_email, @current_user.e_mail %>
<li><%= text_area_tag :body, "", :size=> "60x15" %></li>
<li><%= submit_tag "Send" %></li>
<% end %></ul>
</div>