<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kweekwegg: http://ogp.me/ns/fb/kweekwegg#"
>  <meta property="fb:app_id" content="<%= Facebook::APP_ID %>" /> 
  <meta property="og:type"   content="kweekwegg:user" /> 
  <meta property="og:url"    content="<%= Facebook::SITE_URL%>users/<%= params[:facebook_user] %>" /> 
  <meta property="og:title"  content="Ange" /> 
  <meta property="og:image"  content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png"/>
	<title>Curiousbear</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_API_KEY %>&libraries=places&sensor=false"></script>
	<%= csrf_meta_tags %>
</head>
<body >

	<%= render 'layouts/header' %>
	
	<div id = 'app_inner'>
		<%= yield %>
		
	</div>

	<% if @access_token %>
	<div id = 'feed'>
		<%= render 'activities/feed' %>
	</div>
	<% end %>


</body>
</html>
 