<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<title>Curiousbear</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_API_KEY %>&libraries=places&sensor=false"></script>
	<%= csrf_meta_tags %>
<% if @restaurant %>
  <meta property="fb:app_id" content="<%= Facebook::APP_ID %>" /> 
  <meta property="og:type"   content="website" /> 
  <meta property="og:url"    content="<%= Facebook::SITE_URL %>restaurants/<%= @restaurant.id%>" /> 
  <meta property="og:title"  content="Sample Website" /> 
  <meta property="og:image"  content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" /> 	
	<% end %>
</head>
<body >

	<%= render 'layouts/header' %>
	<div id = 'app_inner'>
		<%= yield %>
	</div>


</body>
</html>
 