<!DOCTYPE html>
<html>
<head>
	<title>Curiousbear</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_API_KEY %>&libraries=places&sensor=false"></script>
	<%= csrf_meta_tags %>
</head>
<body >
<% unless controller_name == 'session' && action_name == 'info' %>
	<%= render 'layouts/header' %>
	<% end %>
	<div id = 'app_inner'>
		<%= yield %>
	</div>
<% unless controller_name == 'session' && action_name == 'info' %>	
	<% if @access_token %>
	<div id = 'feed'>
		<%= render 'activities/feed' %>
	</div>
	<% end %>
<% end %>

</body>
</html>
 