
<div class = "suggestion_restaurant rounded-corner">

	<div class = "suggested_restaurant_top">

		<p class = "restaurant_name">	<%= link_to truncate(restaurant.name), restaurant %></p>
		<div class = "suggested_restaurant_left">
			<div class = "image_holder">
				<img class = "suggested_restaurant_photo  %>" id = "<%= restaurant.google_reference %>"></img>
			</div>
				<%= render 'restaurants/data/price', :restaurant => restaurant %>
		

	</div>
	<div class = "suggested_restaurant_right">
		<div class = "restaurant_lat", id = "<%= restaurant.lat %>"></div>
		<div class = "restaurant_lng", id = "<%= restaurant.lng %>"></div>
		
		<div class = "map_suggested" id="map_<%= restaurant.google_reference %>"></div>
		<ul>
			
			
			<li class = "address"><%= truncate(split_formatted_address(restaurant.formatted_address)[1].split(",").first(2).join(","), :length => 25) %></li>
		</ul>
	</div>
</div>
<div class = "suggested_restaurant_bottom">
	<%= render 'restaurants/data/keywords', :restaurant => restaurant %>
	<div id = "partial_reviewer_list" class = "reviewer_list"><%= reviewer_list(restaurant, 2)%></div>

	<%= render 'reviews/buttons/restaurant_average', :venue => restaurant %>
	<%= render 'reviews/buttons/review_input', :restaurant_id => restaurant.id, :venue_field => nil, :search => " ", :restaurant => restaurant %>
</div>



</div>
